/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: HaasGrotText-55Roman;
  src: url("./assets/Typefaces/NeueHaasGrotText-55Roman.otf");
}
@font-face {
  font-family: HaasGrotText-56Italic;
  src: url("./assets/Typefaces/NeueHaasGrotText-56Italic.otf");
}
@font-face {
  font-family: HaasGrotText-65Medium;
  src: url("./assets/Typefaces/NeueHaasGrotText-65Medium.otf");
}
@font-face {
  font-family: HaasGrotText-66MediumItalic;
  src: url("./assets/Typefaces/NeueHaasGrotText-66MediumItalic.otf");
}
@font-face {
  font-family: HaasGrotText-75Bold;
  src: url("./assets/Typefaces/NeueHaasGrotText-75Bold.otf");
}
@font-face {
  font-family: HaasGrotText-76BoldItalic;
  src: url("./assets/Typefaces/NeueHaasGrotText-76BoldItalic.otf");
}

/* Variables & General Styling */
html {
  font-size: 62.5%;

  /* Colors */
  --background-color: #ffffff;
  --gray-text: #969696;
  --dark-gray-text: #6e6e6e;
  --body-text: #ffffff;
  --light-blue: #40cbff;
  --dark-blue: #007bad;

  /* Font Sizes */
  --header1: 18.6px;
  --header2: 24px;
  --font1: 10px;
  --font2: 12px;
  --font3: 13px;
  --font4: 14px;
  --font5: 15px;
  --font6: 20px;
  --font7: 22px;
  --font9: 30px;

  scroll-behavior: smooth;
}
body {
  font-family: HaasGrotText-55Roman, sans-serif;
  color: var(--body-text);
}
h1 {
  font-size: var(--header1);
}
h2 {
  font-size: var(--header2);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--font2);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* Header */
header {
  height: 50px;
  background-color: var(--light-blue);
}

header h1 {
  font-family: NeueHaasGrotText-75Bold, serif;
  font-size: 18.6px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
header h1 .italic {
  font-family: HaasGrotText-56Italic, serif;
}
header h1 span {
  font-family: HaasGrotText-55Roman, serif;
  font-size: 14.88px;
}
header li {
  font-size: var(--font2);
}

/* Nav */
nav {
  padding: 16px 0 13px 100px;
}
nav li {
  letter-spacing: 1px;
  cursor: pointer;
  font-family: HaasGrotText-55Roman;
}
nav li:last-child {
  padding-left: 13.52px;
}
nav #lease-icon {
  padding-right: 7px;
}
nav #showroom-icon {
  padding-right: 1.27px;
}

.user-info {
  font-size: var(--font4);
  align-items: flex-start;
  cursor: pointer;
  font-family: HaasGrotText-55Roman, serif;
}

.drop-down-icon {
  width: 12px;
  height: 9px;
  margin-left: 6px;
}

.wide {
  width: 16px;
  margin-left: 6.67px;
}

/* Search Bar */
.search-bar {
  background-color: var(--dark-blue);
  height: 75px;
}
#search_container {
  margin-left: 26.5px;
  position: relative;
}
.search-bar .inventory {
  font-size: var(--font6);
  text-align: center;
  height: 31px;
  font-family: HaasGrotText-55Roman, sans-serif;
}
.search-bar .sort-results {
  font-size: var(--font3);
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin-right: 34.58px;
}
.search-bar .sort-results div {
  cursor: pointer;
}
.search-bar .sort-results div:last-child {
  margin-left: 12px;
}

/* Cards */
.results-container {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(35rem, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
  column-gap: 50.84px;
  row-gap: 34.41px;
  padding: 34.81px 40.84px 42.39px 38px;
}
.result-card,
.result-card-small,
.result-card-special {
  height: 559px;
  max-width: 481px;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid #e8eae0;
  justify-content: space-between;
  align-items: flex-start;
}
.result-card .container {
  padding-top: 61.43px;
  padding-bottom: 77.69px;
}
.result-card-small {
  height: 529px;
}
.result-card-small .container {
  padding-top: 31.43px;
  padding-bottom: 78.9px;
}
.result-card-small .unavailable-container {
  padding-top: 34.73px;
  padding-bottom: 122.45px;
}
.result-card-special .container {
  padding-bottom: 77.69px;
}
.result-card-special .middle-content-wrapper {
  height: 273px;
}
.middle-content-wrapper {
  height: 288px;
}
.middle-content-wrapper-small {
  height: 258px;
}

/* Card Header */
.card-header {
  justify-content: space-between;
  width: 100%;
}
.card-header h2 {
  color: var(--dark-blue);
  letter-spacing: 0.24px;
  font-family: HaasGrotText-55Roman, serif;
}
.card-header img {
  margin-right: 8.6px;
  cursor: pointer;
}

/* Special Offer Section */
.special-offer {
  color: var(--dark-blue);
  height: 29px;
  width: 241.83px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.special-offer .discount-notification {
  width: 80px;
  height: 27px;
  background: var(--dark-blue);
  color: #ffffff;
  font-family: HaasGrotText-75Bold, sans-serif;
  padding-top: 1px;
  text-transform: uppercase;
  font-size: var(--font2);
  letter-spacing: 0.5px;
  clip-path: polygon(91.25% 0%, 100% 50%, 91.25% 100%, 0 100%, 0 0);
}
.special-offer .original-price {
  font-size: var(--font6);
  margin-right: 8.62px;
  width: 49px;
  margin-left: 7px;
  padding-top: 5.16px;
  position: relative;
  font-family: HaasGrotText-65Medium, sans-serif;
}
.special-offer .original-price span {
  padding: 0.5px 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(-16px) translateX(3px) rotateZ(-20deg);
  background: var(--dark-blue);
}
.special-offer .original-price::first-letter {
  font-size: var(--font4);
  vertical-align: text-top;
}
.special-offer .discount-expiration {
  padding-top: 8.4px;
  font-size: var(--font2);
}

/* Finance & Unavailable Section */
.financing-info,
.unavailable-info {
  color: var(--gray-text);
  width: 200px;
  padding-left: 1px;
}
.unavailable-info p {
  color: var(--dark-gray-text);
  font-size: var(--font6);
  line-height: 24px;
  letter-spacing: 0.2px;
  width: 237.5px;
}
.unavailable-info button {
  margin-top: 21.27px;
  border: none;
  background: var(--light-blue);
  color: #ffffff;
  font-size: var(--font1);
  width: 136px;
  height: 30px;
  border-radius: 22.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 11px;
  padding-bottom: 7px;
  cursor: pointer;
}

.financing-info div {
  border-bottom: 1px solid #e8eae0;
  width: 150px;
}
.financing-info .monthly-payments {
  padding-bottom: 13.21px;
}
.financing-info .monthly-payments span:first-child {
  font-size: var(--font9);
  color: var(--dark-gray-text);
  font-family: HaasGrotText-75Bold;
}
.financing-info .monthly-payments span:first-child::first-letter {
  font-size: var(--font6);
  vertical-align: text-top;
}
.financing-info .monthly-payments span:nth-child(2) {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: var(--font2);
  font-family: HaasGrotText-55Roman;
}
.financing-info .monthly-payments span:last-child {
  text-transform: capitalize;
  font-size: var(--font4);
  font-family: HaasGrotText-65Medium;
}
.financing-info .cash-down {
  text-transform: uppercase;
  padding-bottom: 7.96px;
  padding-top: 15.53px;
  color: var(--dark-gray-text);
}
.financing-info .cash-down span:first-child {
  font-size: var(--font7);
  font-family: HaasGrotText-75Bold;
}
.financing-info .cash-down span:first-child:first-letter {
  font-size: var(--font5);
  vertical-align: text-top;
}
.financing-info .cash-down span:last-child {
  letter-spacing: 1.2px;
  font-size: var(--font2);
  color: var(--gray-text);
}

/* Car Colors Section */
.car-colors-container .color {
  padding: 10px 17.5px;
  margin-right: 0.5rem;
  border: 1px solid #979797;
  color: var(--card-color-gray);
  color: blue;
}
.car-colors-container {
  color: var(--gray-text);
}
.car-colors-container .silver {
  background: #d8d8d8;
}
.car-colors-container .black {
  background: #000000;
}
.car-color-interior,
.car-color-exterior {
  margin: 0.75rem 0;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font3);
  letter-spacing: 0.15px;
}
.car-color-interior span,
.car-color-exterior span {
  font-family: HaasGrotText-65Medium, serif;
}

/* Car Specifications Section */
.car-specifications-container {
  background: #e8eae0;
  color: var(--gray-text);
  height: 238px;
  width: 100%;
  position: relative;
}
.car-specifications {
  padding-top: 57.47px;
  padding-left: 51.02px;
  height: 155px;
  width: 380px;
}
.car-image {
  position: absolute;
  display: grid;
  place-content: center;
  bottom: calc(100% - 62px);
  left: 71px;
  right: 34px;
  height: 183.3px;
}
.car-image img {
  width: 100%;
}
.car-specifications ul li {
  display: flex;
  align-items: flex-end;
  width: 190px;
  height: 30px;
  padding-bottom: 1px;
  font-size: var(--font4);
}
.car-specifications ul img {
  margin-right: 8px;
}

/* Footer */
footer {
  background-color: var(--dark-blue);
  min-height: 200px;
  padding: 24px 80px 0 80px;
  width: 100%;
}

footer h3 {
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
  font-family: HaasGrotText-75Bold, sans-serif;
}

/* Company Info */
.company-info-container,
.contact-info-container {
  flex-grow: 1;
}
.company-info-container {
  max-width: 430px;
  margin-right: 106px;
}
.company-info-container li {
  flex: 1 1 20px;
  width: 128px;
  min-width: 8rem;
  line-height: 1.667;
}
.company-info-container a {
  color: #ffffff;
}
.company-info-container ul span:last-child li {
  width: auto;
}

/* Contact Info */
.contact-info-container {
  font-style: normal;
}
.contact-info-container .phone {
  min-width: 80px;
}
.contact-info-container a {
  color: var(--light-blue);
}
.contact-info-container ul {
  margin-left: 46px;
  min-width: 149px;
}
.contact-info-container li {
  line-height: 1.667;
}

/* Social media */
.social-media {
  padding-left: 90px;
}
.social-media img {
  cursor: pointer;
}
.social-media a:not(:last-child) {
  padding-right: 20px;
}

/* Utility Classes */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.relative-wrapper {
  position: relative;
}
.max-width-wrapper {
  max-width: 1092px;
  margin: 0 auto;
}
.dark-blue-background {
  background: var(--dark-blue);
}
.flex-wrap {
  flex-wrap: wrap;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  /* Footer */
  .company-info-container {
    width: auto;
    min-width: 8rem;
    margin-right: 0px;
  }
  .company-info-container ul {
    margin-right: 2rem;
  }
  .company-info-container li {
    width: auto;
    margin-right: 2rem;
  }
  .contact-info {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact-info ul {
    margin: 0;
    margin-bottom: 1rem;
    min-width: auto;
  }
  .social-media {
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  /* Header */
  header h1 {
    width: 100%;
  }
  header .container {
    flex: 2;
  }
  .user-info {
    flex: 1;
    justify-content: flex-end;
  }

  /* Nav */
  nav {
    padding-left: 0;
  }

  /* Search Bar */
  .search-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    height: auto;
  }
  .search-bar .inventory {
    margin: 1rem 0;
    height: auto;
  }
  .search-bar .sort-results {
    margin: 0;
  }
  #search_container {
    margin: 0;
  }

  /* Footer */
  .copyright {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  /* Nav */
  nav span {
    display: none;
  }
  nav {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  /* Cards */
  .results-container {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  .result-card,
  .result-card-small,
  .result-card-special {
    height: auto;
  }
  .financing-info {
    width: auto;
    margin-right: 2rem;
  }
  .financing-info div {
    width: auto;
  }
  .car-color-exterior,
  .car-color-interior {
    flex-direction: column;
  }
  .car-color-exterior .color,
  .car-color-interior .color {
    align-self: flex-start;
  }
  .car-image {
    right: auto;
    left: auto;
    padding: 0 1rem;
  }
  .car-specifications-container {
    height: auto;
    padding-bottom: 2rem;
  }
  .car-specifications {
    width: 100%;
    height: auto;
    padding-left: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .car-specifications ul li {
    font-size: var(--font2);
  }

  /* Footer */
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .company-info-container li {
    margin-right: 0;
  }
  .company-info {
    flex-wrap: wrap;
  }
}
